.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.project {
    width: auto;
    height: auto;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    padding: 5px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    transition: all var(--transition-fast);
}

.project:hover {
    transform: translateY(-4px) scale(1.02);
}
.project h3 {
    opacity: 5;
}

.project img {
    height: auto;
    border-style: solid;
    border-color: var(--color-text);
    border-width: 5px;
}

.project p {
    opacity: 5;
}

.project button {
    background-color: var(--color-text);
    border-radius: 25px;
    color: var(--color-on-primary);
    transition: all var(--transition-fast);
    padding: 10px 20px;
    border: none;
}
.project button:hover {
    background-color: var(--color-primary-hover);
    transform: scale(1.1);
    cursor: pointer;
}

