body {
    font-family: 'Fuzzy Bubbles', sans-serif;
    background-color: #2FD4E6;
    margin: 0px;
    
}

.fuzzy-bubbles-regular {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuzzy-bubbles-bold {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar {
    background-color:#8D3DB5 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 70px;
    box-sizing: border-box;
}

.branding {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 700;

}
.favicon {
    height: 50px;
    margin-right: 20px;
}

.separator {
    margin: 0 20px;
    color: white;
    font-weight: 700;
    user-select: none;
}

.navbar ul{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}


.navbar li {
    margin-right: 30px;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
}
.navbar a:hover{
  background-color: rgba(141, 61, 181, 0.3);
  border-radius: 4px;
}

